[submodule "lib/UnitTest"]
	path = lib/UnitTest
	url = git@github.com:kdolberg/UnitTest.git
[submodule "lib/MachineLearning"]
	path = lib/MachineLearning
	url = git@github.com:kdolberg/MachineLearning
[submodule "lib/LinearAlgebra"]
	path = lib/LinearAlgebra
	url = git@github.com:kdolberg/LinearAlgebra
[submodule "lib/confirm"]
	path = lib/confirm
	url = git@github.com:kdolberg/confirm
